.section-title {
  margin-bottom: 50px;
  text-align: center;
}

.section-title-eyebrow {
  display: block;
  margin-bottom: 12px;

  color: #88857d;

  font-size: 11px;
  font-weight: 700;

  letter-spacing: 3px;
  text-transform: uppercase;
}

.section-title h2 {
  margin-bottom: 15px;

  font-family: "Playfair Display", serif;

  font-size: 48px;
  font-weight: 600;
}

.section-title p {
  max-width: 550px;
  margin: auto;

  color: #777;

  font-size: 15px;
  line-height: 1.7;
}
